**/*.log
**/*.aux
**/*.lof
**/*.lot
**/*.fdb_latexmk
**/*.sublime-project
**/*.sublime-workspace
**/*.zip
**/*.log
**/*.aux
**/.DS_Store
**/*.toc
**/root.synctex.gz
**/.latexmkrc
**/*.dvi
**/*.fls
**/*.out
**/start-latexmk
root.pdf

